// Pull in common writer styles
@import '../node_modules/substance-ui/writer/writer';

/* Custom Scrollbar styles
-----------------------------------------------------*/

.scrollbar-component.comments .highlight {
  background: #aaa;
}


.scrollbar-component.cite_bib_item .highlight {
  background-color: #0b9dd9;
}


/* Text Annotations
-----------------------------------------------------*/

.annotation.strong {
  font-weight: bold;
}

.annotation.emphasis {
  font-style: italic;
}






/* Node Components
-----------------------------------------------------*/

/* Text Node Component */

.content-editor-component .content-node.text {
  padding-bottom: 20px;
}

/* Text Annotations
-----------------------------------------------------*/

.annotation.timecode {
  font-family: Courier;
  background: #444;
  color: #fff;
  font-size: 13px;
  padding: 2px 0;
  font-weight: 600;
}

.annotation.strong {
  font-weight: bold;
}

.annotation.emphasis {
  font-style: italic;
}

/* Entity Reference */

.annotation.entity-reference {
  background: rgba(11, 157, 217, 0.2);
}


.annotation.entity-reference.active {
  background: rgba(11, 157, 217, 0.6);
}


/* Container Annotations
-----------------------------------------------------*/

.container-annotation.anchor {
  position: relative;
}

.container-annotation.active.annotation-fragment {
  background-color: rgba(145, 187, 4, 0.2);
}

.container-annotation.comment.annotation-fragment {
  background: rgba(255, 254, 99, 0.3);
}

.container-annotation.comment.annotation-fragment.active {
  background: rgba(255, 254, 99, 0.8);
}

/* Brackets for subject annotations
-----------------------------------------------------*/

.container-node.content .subject-references {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 30px;
}

.container-node.content .subject-references .subject-reference {
  border-bottom: 1px solid rgba(145, 187, 4, 1);
  border-top: 1px solid rgba(145, 187, 4, 1);
  border-right: 1px solid rgba(145, 187, 4, 1);

  width: 6px;
  position: absolute;
  top: 30px;
  right: 15px;
  height: 100px;
  cursor: pointer;
}

.container-node.content .subject-references .subject-reference.level-0 {
}

.container-node.content .subject-references .subject-reference.level-1 {
  right: 30px;
}

.container-node.content .subject-references .subject-reference.level-2 {
  right: 45px;
}

.container-node.content .subject-references .subject-reference:hover {
  border-width: 2px;
}

/*.container-node.content .subject-references .subject-reference:nth-child(even) {
  right: 15px;
}*/

.container-node.content .subject-references .subject-reference.selected {
  border-width: 3px;
}


/* Selection style sheets
-----------------------------------------------------*/


::selection {
  background: rgba(0,0,0,0.1);
}

::-moz-selection {
  background: rgba(0,0,0,0.1);
}



/* Archivist Extensions
-----------------------------------------------------*/


/* Entities component
-----------------------------------------------------*/

.entity {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.show-entity-reference-panel-component .entity {
  cursor: auto;
  border-left: 2px solid transparent;
  border-bottom: none;
}

.show-entity-reference-panel-component .entity:hover,
.show-entity-reference-panel-component .entity.active {
  border-left: 2px solid transparent;
}


.entity:hover {
  border-left: 2px solid rgba(11, 157, 217, 0.3);
}

.entity.active {
  background: white;
  border-left: 2px solid rgba(11, 157, 217, 1);
}

.entity .name {
  margin-right: 100px;
}

.entity .type {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #888;
  font-size: 12px;
}

.entity .edit {
  color: #505050;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.entity .description {
  font-size: 12px;
  padding-top: 10px;
  margin-right: 30px;
}

.entity .prison-type,
.entity .synonyms {
  font-size: 12px;
  padding-top: 10px;
  margin-right: 100px;
}

.entity .country {
  font-size: 12px;
  padding-top: 10px;
  position: absolute;
  right: 20px;
  display: block;
  top: 40px;
}

/* Prison Entity */

.entity.prison .type {
  color: rgba(11, 157, 217, 1);
}

.entity.toponym,
.entity.prison {
  min-height: 80px;
}

/* Toponym Entity */

.entity.toponym .type {
  color: #56AB98;
}

/* Person Entity */

.entity.person .type {
  color: #D2808A;
}

/* Definition Entity */

.entity.definition .type {
  color: #A99C90;
}


/* Comment component
-----------------------------------------------------*/


.edit-comment-panel-component,
.show-comment-panel-component {

  font-size: 14px;

  .button.action {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    background: #444;
    color: #fff;

    &:hover {
      background: #222;
    }
  }

  .button.action.cancel {
    background: #eee;
    color: #444;

    &:hover {
      background: #ddd;
    }
  }


  .comment-editor {
    overflow: hidden;
    background: white;
    padding: 5px 20px 20px 20px;
    border-bottom: 1px solid #ddd;
  }

  .comment-editor .body-nodes {
    // padding: 20px;
  }

  .comment-editor .body-nodes .paragraph {
    padding-bottom: 10px;
  }

  .comment-content {
    padding: 20px;
  }

  .meta {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 12px;

    .creator {
      font-weight: 600;
    }

    .created-at {
      padding-left: 20px;
      font-style: italic;
    }
  }

}

/* Comments Panel */

.resource-container .comments .comment {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid transparent;
  cursor: pointer;

  &:hover {
    // border-left: 2px solid rgba(255, 254, 99, 0.5);
    background: #fff;
  }

  .title {
    color: #777;
    font-size: 12px;
    background: rgba(255, 254, 99, 0.21);
  }

  .comment-body {
    font-size: 14px;
    padding-top: 20px;
  }

  .created-at {
    padding-left: 20px;
  }
}






/* Edit Subject Reference Panel
-----------------------------------------------------*/

.panel.tag-subject-panel-component {
  font-size: 12px;
}

.panel.tag-subject-panel-component .subjects-tree {
  padding: 10px;
}

.entities .no-results {
  padding: 20px;
  color: #777;
  font-style: italic;
}

.search {
  height: 40px;
  border-bottom: 1px solid #ddd;
}

.search .search-str {
  padding-left: 5px;
  width: 180px;
  font-size: 13px;
  position: absolute;
  top: 7px;
  left: 20px;
  height: 26px;
}

.search select {
  position: absolute;
  top: 12px;
  right: 40px;
}

.search .refresh {
  position: absolute;
  top: 9px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
} 

.search-result-state {
  padding: 4px 14px 4px 22px;
  font-style: italic;
  background: #fff;
  font-size: 13px;
  min-height: 32px;
}

.search-result-state .add-entity {
  float: right;
  font-size: 15px;
}

.search-result-state .add-entity a {
  padding: 0px 2px;
  color: #777;
}

/* Custom scrollbar styles */
.scrollbar-component.entities .highlight {
  background-color: rgba(11, 157, 217, 1);
}

.scrollbar-component.edit-comment,
.scrollbar-component.show-comment,
.scrollbar-component.comments {
  .highlight {
    background: rgba(255, 254, 99, 1);
  }
}

.scrollbar-component.showEntityReference .highlight,
.scrollbar-component.tagentity .highlight {
  background-color: rgba(11, 157, 217, 1);
}


/* Tree component
-----------------------------------------------------*/

.tree-component {
  font-size: 12px;
  padding: 10px;
}

.tree-component .tree-node {
  padding: 2px 0px;
  padding-left: 20px;
  overflow: auto;
  position: relative;
}

.tree-component .tree-node a {
  color: #999;
}

.tree-component .tree-node.selected > a {
  color: #333;
}


.tree-component .tree-node:hover {
  /*background: #eee;*/
}

.tree-component .tree-node .expand-toggle {
  display: block;
  position: absolute;
  padding: 2px 6px;
  top: -2px;
  /*color: #444;*/
  left: 5px;
}


.tree-component .tree-node .select-toggle {
  position: absolute;
  left: 25px;
  /*color: #444;*/
  margin-right: 10px;
  font-size: 15px;
}


.tree-component .tree-node .name {
  display: block;
  font-weight: 600;
  /*color: #777;*/
  padding-left: 25px;
}

/* Tree list component
-----------------------------------------------------*/

.tree-list-component {
  font-size: 12px;
  padding: 10px;
}

.tree-list-component .tree-node {
  padding: 2px 0px;
  padding-left: 20px;
  overflow: auto;
  position: relative;
}

.tree-list-component .tree-node a {
  color: #999;
}

.tree-list-component .tree-node.selected > a {
  color: #333;
}


.tree-list-component .tree-node:hover {
  /*background: #eee;*/
}

.tree-list-component .tree-node .expand-toggle {
  display: block;
  position: absolute;
  padding: 2px 6px;
  top: -2px;
  /*color: #444;*/
  left: 5px;
}


.tree-list-component .tree-node .select-toggle {
  position: absolute;
  left: 25px;
  /*color: #444;*/
  margin-right: 10px;
  font-size: 15px;
}

.tree-list-component .tree-node .name {
  display: block;
  font-weight: 600;
}

/* Metadata Panel
-----------------------------------------------------*/

.metadata-panel-component .panel-content {
  padding: 0px 0px;

}

.metadata-panel-component .label {
  font-size: 13px;
  color: #777;
}

.metadata-panel-component .text-property {
  margin: 10px 0;
  display: block;
  background: white;
  padding: 3px 5px;
  font-size: 14px;
  border: 1px solid #eee;
}

.metadata-panel-component .section h3 {
  font-weight: 600;
  padding-bottom: 10px;
}

.metadata-panel-component .section {
  position: relative;
  padding: 20px 20px;
  border-bottom: 1px solid #ddd;
}

.metadata-panel-component select {
  margin-bottom: 10px;
}

.metadata-panel-component input[type="checkbox"] {
  float: left;
  margin: 6px 8px 0px 0px;
}

/* prisons list */

.metadata-panel-component .entity-tags {
  margin-top: 10px;
  margin-bottom: 2px;
}

.metadata-panel-component .entity-tag {
  margin-right: 10px;
  color: #555555;
  background: #efefef;
  border-radius: 4px;
  cursor: default;
  margin-top: 5px;
  padding: 2px 6px;
}

.metadata-panel-component .entity-tag .name {
  padding-right: 5px;
  font-size: 14px;
}

.metadata-panel-component a.remove-tag {
  color: #777;
  font-size: 12px;
}

.metadata-panel-component .add-entity {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

/* waypoints list */
.metadata-panel-component .waypoints .waypoint {
  margin-right: 10px;
}

.metadata-panel-component .waypoints .waypoint .name {
  padding-right: 5px;
}

.metadata-panel-component .waypoints .waypoint .density {
  width: 30px;
  font-size: 10px;
  margin: 0px 7px 0px 2px;
  position: relative;
  top: -2px;
}

/* project location */

.project-location-wrapper {
  padding-bottom: 10px;
}

.project-location-wrapper .add-entity {
  margin-bottom: 0px;
}

/* Subject component
-----------------------------------------------------*/

.subject {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.subject:hover {
  border-left: 2px solid rgba(145, 187, 4, 0.3);
}

.subject.active {
  background: white;
  border-left: 2px solid rgba(145, 187, 4, 1);
}

.clipboard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  font-size: 1;
  z-index: -1;
  color: transparent;
  background: transparent;
  overflow: hidden;
  border: none;
  padding: 0;
  resize: none;
  outline: none;
  -webkit-user-select: text;
  user-select: text;
  /* Because for user-select:none, Safari won't allow input*/
}